# Настройки Django
SECRET_KEY=*******
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,<ИМЯ ДОМЕНА ИЛИ IP АДРЕС СЕРВЕРА>

# Настройка базы данных
DB_NAME=cloudservice
DB_USER=user
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=5432

# Настройка администратора
ADMIN_USERNAME=admin
ADMIN_FULLNAME=Admin Fullname
ADMIN_EMAIL=admin@cloudservice.ru
ADMIN_PASSWORD=admin

# Базовая папка для хранения файлов
STORAGE_FOLDER=storage